[Unit]
Description=Larawhale's Redis Instance
PartOf=larawhale.target
After=network.target
Type=simple

[Service]
WorkingDirectory=/home/dusza/larawhale
ExecStart=/home/dusza/larawhale/valkey/valkey-server /home/dusza/larawhale/redis.conf
Restart=always
RestartSec=1s

[Install]
WantedBy=larawhale.target
