[Unit]
Description=Larawhale's Cron Instance
PartOf=larawhale.target
After=network.target
Type=simple

[Service]
WorkingDirectory=/home/dusza/larawhale
ExecStart=/home/dusza/larawhale/frankenphp php-cli artisan schedule:work
Restart=always
RestartSec=1s

[Install]
WantedBy=larawhale.target
