[Unit]
Description=Larawhale's Octane Instance
PartOf=larawhale.target
After=network.target
Type=simple

[Service]
WorkingDirectory=/home/dusza/larawhale
ExecStart=/home/dusza/larawhale/frankenphp php-cli artisan octane:start --port 8055
Restart=always
RestartSec=1s

[Install]
WantedBy=larawhale.target
