[Unit]
Description=Larawhale's Horizon Instance
PartOf=larawhale.target
After=network.target
Type=simple

[Service]
WorkingDirectory=/home/dusza/larawhale
ExecStart=/home/dusza/larawhale/frankenphp php-cli artisan horizon
Restart=always

[Install]
WantedBy=larawhale.target
