[Unit]
Description=Start Larawhale
After=syslog.target
After=network.target
Type=simple

[Service]
WorkingDirectory=/home/dusza/larawhale
ExecStart=/home/dusza/.local/bin/supervisord /home/dusza/larawhale/server/supervisord.conf
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=valkey

[Install]
WantedBy=default.target
