[Unit]
Description=Start Larawhale
After=syslog.target
After=network.target
Type=simple

[Service]
WorkingDirectory=/home/dusza/larawhale
ExecStart=/home/dusza/.local/bin/supervisord -c /home/dusza/larawhale/supervisord.conf
Restart=always


[Install]
WantedBy=default.target
